.tags-h1 {
  margin-top: 50px;
  font-weight: 400;
}

.tags-p {
  margin: 0px;
  font-size: 15px;
}

.tags-list-container {
  padding: 30px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.tag {
  padding: 10px;
  border: solid 1px #d2d2d2;
  border-radius: 5px;
}

.tag h5 {
  display: inline-block;
  margin: 10px 0px;
  padding: 5px 5px;
  background-color: #e1ecf4;
  color: #39739d;
  border-radius: 5px;
  font-weight: 500;
}

.tag p {
  font-size: 14px;
  color: #323232;
  line-height: 17px;
}

#tag-search-bar {
  margin-top: 35px;
  padding: 10px 5px;
  border: 1px solid grey;
  border-radius: 5px;
}

.filter-buttons {
  margin-top: 35px;
  float: right;
}

.filter-buttons button {
  background-color: #fff;
  font-size: 13px;
  font-weight: 500;
  border: 1px solid #babfc5;
  padding: 10px;
  cursor: pointer;
}

.filter-buttons button:hover {
  background-color: #e3e6e8;
}

.filter-buttons button:nth-child(1) {
  border-right: none;
  border-radius: 5px 0px 0px 5px;
}

.filter-buttons button:nth-child(2) {
  border-right: none;
}

.filter-buttons button:nth-child(3) {
  border-radius: 0px 5px 5px 0px;
}

.filter-buttons button.active {
  background-color: #e3e6e8;
}

@media screen and (max-width: 455px) {
  .filter-buttons {
    margin-top: 20px;
    float: none;
  }
}
